/*header*/
.header {
    height: 120px;
    font-size: 14px;
    font-family: Arial;
    color: midnightblue;
    border-bottom: 1px solid gainsboro;
}

#avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

#header-info {
    margin-left: 130px;
    padding-top: 15px;
}

#header-info span {
    display: block;
}

#sign-out {
    margin: -80px 20px 0 0;
    display: block;
    float: right;
}

#view-profile:hover {
    text-decoration: none;
}

#sign-out:hover {
    text-decoration: none;
}

/*content*/
#navcontainer {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#navlist li {
    display: inline;
    list-style-type: none;
    font-size: 14px;
    font-family: Arial;
    font-weight: 500;
}

#navlist li a:hover {
    text-decoration: none;
}

.content {
    font-size: 14px;
    font-family: Arial;
}

#add-file-cont {
    max-width: 350px;
    display: block;
    margin: 0px auto;
    padding-top: 20px;
}

.wrap {
    margin-top: 7px;
}

.wrap input {
    margin-left: 150px;
    margin-top: -18px;
}

#add-file-cont h3 {
    margin-bottom: 5px;
    text-align: center;
}

#create-file-button {
    padding: 1px;
    display: block;
    margin: 8px auto;
}

.not-created-message {
    font-size: 12px;
    color: red;
    position: absolute;
    margin-top: -17px;
    margin-left: 5px;
}

.not-created-message2 {
    font-size: 12px;
    color: red;
    position: absolute;
    margin-top: -19px;
    margin-left: 375px;
}

.created-message {
    font-size: 12px;
    color: green;
    position: absolute;
    margin-top: -27px;
    margin-left: 215px;
}