/*header*/
.header {
    height: 120px;
    font-size: 14px;
    font-family: Arial;
    color: midnightblue;
    border-bottom: 1px solid gainsboro;
}

#avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

#header-info {
    margin-left: 130px;
    padding-top: 15px;
}

#header-info span {
    display: block;
}

#sign-out {
    margin: -80px 20px 0 0;
    display: block;
    float: right;
}

#view-profile:hover {
    text-decoration: none;
}

#sign-out:hover {
    text-decoration: none;
}

/*content*/
#navlist {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#navlist li {
    display: inline;
    list-style-type: none;
    font-size: 14px;
    font-family: Arial;
    font-weight: 500;
}

#navlist li a:hover {
    text-decoration: none;
}

.content {
    font-size: 14px;
    font-family: Arial;
}

#table-users {
    margin-top: 2px;
    margin-left: 20px;
}

#table-users table, th, td {
    border: 1px solid black;
}

#table-users table tr th {
    font-size: 14px;
}

table {
    border-collapse: collapse;
    width: 98%;
}

table, th, td {
    border: 1px solid dimgray;
    height: 20px;
}

th, td {
    padding: 5px;
}

th {
    background-color: cadetblue;
    color: white;
    font-weight: 100;
}

td {
    text-align: center;
    vertical-align: middle;
}

tr:hover {
    background-color: #f5f5f5
}

.td-align-left {
    text-align: left;
}

#view-icon {
    height: 24px;
    width: 24px;
}