/*header*/
.header {
    height: 120px;
    font-size: 14px;
    font-family: Arial;
    color: midnightblue;
    border-bottom: 1px solid gainsboro;
}

#avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

#header-info {
    margin-left: 130px;
    padding-top: 15px;
}

#header-info span {
    display: block;
}

#sign-out {
    margin: -80px 20px 0 0;
    display: block;
    float: right;
}

#view-profile:hover {
    text-decoration: none;
}

#sign-out:hover {
    text-decoration: none;
}

/*content*/
#navcontainer {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#navlist li {
    display: inline;
    list-style-type: none;
    font-size: 14px;
    font-family: Arial;
    font-weight: 500;
}

#navlist li a:hover {
    text-decoration: none;
}

.content {
    font-size: 14px;
    font-family: Arial;
}

#edit-module-info {
    max-width: 350px;
    display: block;
    margin: 10px auto;
}

#edit-module-info h3 {
    text-align: center;
    margin-bottom: 10px;
}

#edit-module-info form span {
    display: block;
    float: left;
}

.wrap {
    margin-top: 5px;
}

.wrap input {
    margin-left: 150px;
    display: block;
    width: 200px;
}

.wrap select {
    margin-left: 150px;
    display: block;
    width: 200px;
}

#edit-module-info form button {
    display: block;
    margin: 10px auto;
    padding: 1px;
}

.violation {
    font-size: 12px;
    color: red;
    position: absolute;
    margin-left: 355px;
    margin-top: -18px;
}

#edited-message {
    font-size: 12px;
    color: green;
    position: absolute;
    margin-left: 218px;
    margin-top: -28px;
}