/*header*/
.header {
    height: 120px;
    font-size: 14px;
    font-family: Arial;
    color: midnightblue;
    border-bottom: 1px solid gainsboro;
}

#avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

#header-info {
    margin-left: 130px;
    padding-top: 15px;
}

#header-info span {
    display: block;
}

#sign-out {
    margin: -80px 20px 0 0;
    display: block;
    float: right;
}

#view-profile:hover {
    text-decoration: none;
}

#sign-out:hover {
    text-decoration: none;
}

/*content*/
#navcontainer {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#navlist li {
    display: inline;
    list-style-type: none;
    font-size: 14px;
    font-family: Arial;
    font-weight: 500;
}

#navlist li a:hover {
    text-decoration: none;
}

.content {
    font-size: 14px;
    font-family: Arial;
}

#edit-client {
    display: block;
    margin: 0px auto;
    width: 560px;
}

#edit-client form h3 {
    text-align: center;
}

.sp {
    display: block;
    font-weight: 600;
    width: 350px;
    float: left;
}

.wrap {
    margin-top: 5px;
}

.wrap select {
    margin-left: 350px;
    width: 200px;
    margin-top: -16px;
}

.wrap input {
    margin-left: 350px;
    width: 200px;
}

#edit-client form button {
    margin-left: 240px;
    margin-top: 10px;
}

.onel {
    margin-top: -15px;
}

.twol {
    margin-top: -36px;
}

.edited-message {
    font-size: 12px;
    color: green;
}

.violation {
    font-size: 12px;
    color: red;
    margin-left: 5px;
    position: absolute;
    margin-top: -34px;
}
