/*header*/
.header {
    height: 120px;
    font-size: 14px;
    font-family: Arial;
    color: midnightblue;
    border-bottom: 1px solid gainsboro;
}

#avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

#header-info {
    margin-left: 130px;
    padding-top: 15px;
}

#header-info span {
    display: block;
}

#sign-out {
    margin: -80px 20px 0 0;
    display: block;
    float: right;
}

#view-profile:hover {
    text-decoration: none;
}

#sign-out:hover {
    text-decoration: none;
}

/*content*/
#navcontainer {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#navlist li {
    display: inline;
    list-style-type: none;
    font-size: 14px;
    font-family: Arial;
    font-weight: 500;
}

#navlist li a:hover {
    text-decoration: none;
}

#view-profile span {
    display: block;
    margin-left: 20px;
    font-size: 14px;
    font-family: Arial;
}

#edit-profile {
    margin-left: 20px;
    font-size: 14px;
    font-family: Arial;
}

#edit-profile:hover {
    text-decoration: none;
}