/*header*/
.header {
    height: 120px;
    font-size: 14px;
    font-family: Arial;
    color: midnightblue;
    border-bottom: 1px solid gainsboro;
}

#avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

#header-info {
    margin-left: 130px;
    padding-top: 15px;
}

#header-info span {
    display: block;
}

#sign-out {
    margin: -80px 20px 0 0;
    display: block;
    float: right;
}

#view-profile:hover {
    text-decoration: none;
}

#sign-out:hover {
    text-decoration: none;
}

/*content*/
#navlist {
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#navlist li {
    display: inline;
    list-style-type: none;
    font-size: 14px;
    font-family: Arial;
    font-weight: 500;
}

#navlist li a:hover {
    text-decoration: none;
}

.content {
    font-size: 14px;
    font-family: Arial;
}

#view-module {
    display: block;
    margin: 0px auto;
    width: 350px;
}

#view-module h3{
    text-align: center;
    margin: 10px 10px;
}

.sp {
    font-weight: 600;
    display: block;
    float: left;
}

.val {
    margin-left: 180px;
    display: block;
}

.wrap {
    margin-top: 5px;
}

.wrapref {
    width: 150px;
    margin: 5px auto;
}

.wrap a:hover {
    text-decoration: none;
}

.wrapref a:hover {
    text-decoration: none;
}
