.wrapper {
	margin: 60px auto;
	max-width: 350px;
}

.tab-content > div:first-child {
  display: none;
}

.wrapper #logo img {
	display: block;
	margin: 0px auto 10px;
}

h4 {
	text-align: center;
	margin: 0 0 5px;
	font-size: 18px;
}

.form img {
	display: block;
	margin: 0px auto 15px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 5px 0;
}

.tab-group {
	text-align: center;
}

.tab-group li {
	display: inline;
}

.tab-group li a {
  text-decoration: none;
  padding: 5px;
  text-align: center;
  color: black;
}

.tab-group .active a {	
	text-decoration: underline;
	color: #09571F;
}

.tab-group li a:hover {
	text-decoration: underline;
	color: #09571F;
}

input, textarea {
	margin: 0 auto;
  font-size: 14px;
  display: block;
} 

.field-wrap {
  margin-bottom: 5px;
}

.button-block {
  display: block;
margin: 0 auto;
width: 50%;
}

.forgot {
	color: #000000;;
	text-align: center;
	font-size: 12px;
}








